.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.3vh;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 4vw;
    height: 4vw;
    margin-left: 1vw;

    overflow: hidden;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;

    width: 40vw;
    margin-right: 30vw;
}